<div id="menu">
		<div id='cssmenu'>
		
		
			<ul>				
					<li id="1" ><a href='/welcome.php'><span>Accueil</span></a></li>
				   <li id="2"><a href='/entreprise/histoire.php'><span>L'entreprise</span></a></li>
				   <li  class='has-sub'><a id="30" href='/services/presentation.php'><span>Nos Services</span></a>
					  <ul>
						 <li class='last'><a id="31" href='/services/amenagement.php'><span>Aménagement Intérieur</span></a></li>
						 <li class='last'><a id="32" href='/services/construction.php'><span>Construction</span></a></li>
						 <li class='last'><a id="33" href='/services/renovation.php'><span>Rénovation</span></a></li>
						 <li class='last'><a id="34" href='/services/reprises.php'><span>Reprises en sous-oeuvres</span></a></li>
						 <li class='last'><a id="35" href='/services/etudes.php'><span>Etudes</span></a></li>
					  </ul>
				   </li>
				   <li id="5" class='last'><a href='/entreprise/contact.php'><span>Nos Contacts</span></a></li>		
				   <li id="4" class="active"><a href="{{ path('devis_new')}}"><span>Devis en Ligne</span></a></li>		 
				 
			</ul>			

		
	</div>
</div> 
