{% extends '::base.html.twig' %}

{% block title %}Mon devis en ligne{% endblock %}
{% set language = 'fr' %}


{% block body %}
<div id="bottom" class="row-fluid ">
		<div class="space_box white_box">
			<h1 class="text_blue title text-left " > Récupérer un ancien devis</h1>
			
			
		</div>
</div>
{% endblock %}
